# Process Result

In [1]:
import pandas as pd
output_cols = ["label","portion_info","energy","protein","total_fat","carbs","fibre","sodium","portion_size", "region"]

## ID

In [ ]:
df = pd.read_csv("../id_food_item_options_raw.csv", encoding="utf8", delimiter="|")
print(len(df['food_id'].drop_duplicates()))
print(df['attribute'].drop_duplicates().to_list())
df

1146
['food_name', 'food_group', 'food_type', 'base_weight', 'base_weight_edible', 'Air (Water)', 'Energi (Energy)', 'Protein (Protein)', 'Lemak (Fat)', 'Karbohidrat (CHO)', 'Serat (Fibre)', 'Abu (ASH)', 'Kalsium (Ca)', 'Fosfor (P)', 'Besi (Fe)', 'Natrium (Na)', 'Kalium (K)', 'Tembaga (Cu)', 'Seng (Zn)', 'Retinol (Vit. A)', 'Beta-Karoten (Carotenes)', 'Thiamin (Vit. B1)', 'Riboflavin (Vit. B2)', 'Niasin (Niacin)', 'Karoten Total (Re)', 'Vitamin C (Vit. C)']

      food_id           attribute                        value
0       HR005           food_name       Alabio duck egg, fresh
1       HR005          food_group                         Eggs
2       HR005           food_type                          Raw
3       HR005         base_weight                        100 g
4       HR005  base_weight_edible           Edible weight 90 %
...       ...                 ...                          ...
25437   PR001           food_name  Young coconut, water, fresh
25438   PR001          food_group      Non-Alcoholic Beverages
25439   PR001           food_type                          Raw
25440   PR001         base_weight                        100 g
25441   PR001  base_weight_edible              Edible weight -

[25442 rows x 3 columns]

In [ ]:
cols = ["food_name", "base_weight", "Energi (Energy)", "Protein (Protein)", "Lemak (Fat)", "Karbohidrat (CHO)", "Serat (Fibre)", "Natrium (Na)"]
df = df.pivot(index='food_id', columns='attribute', values='value')
df.columns.name = None
df.index.name = None
df = df[cols]

In [ ]:
df['portion_size'] = 100

In [ ]:
num_cols = cols[2:]
num_cols

['Energi (Energy)',
 'Protein (Protein)',
 'Lemak (Fat)',
 'Karbohidrat (CHO)',
 'Serat (Fibre)',
 'Natrium (Na)']

In [ ]:
df

,food_name,base_weight,Energi (Energy),Protein (Protein),Lemak (Fat),Karbohidrat (CHO),Serat (Fibre),Natrium (Na),portion_size
AP001,Rice,100 g,: 180 Kal,: 3.0 g,: 0.3 g,: 39.8 g,: 0.2 g,: 1 mg,100
AP002,"Rice, steamed",100 g,: 120 Kal,: 2.4 g,: 0.4 g,: 26.0 g,: 0.5 g,: 0 mg,100
AP003,"Rice, tapai",100 g,: 99 Kal,: 1.7 g,: 0.3 g,: 22.4 g,: 0.0 g,: 26 mg,100
AP004,"Rice, flour, raw",100 g,: 353 Kal,: 7.0 g,: 0.5 g,: 80.0 g,: 2.4 g,: 5 mg,100
AP005,Red rice,100 g,: 149 Kal,: 2.8 g,: 0.4 g,: 32.5 g,: 0.3 g,: 5 mg,100
...,...,...,...,...,...,...,...,...,...
NR021,Kluwek,100 g,: 310 Kal,: 10.0 g,: 24.0 g,: 13.5 g,NaN,NaN,100
NR022,"Turmeric, fresh",100 g,: 69 Kal,: 2.0 g,: 2.7 g,: 9.1 g,: 0.6 g,: 6 mg,100
NR023,"Pepper, dried",100 g,: 365 Kal,: 11.5 g,: 6.8 g,: 64.4 g,: 1.0 g,: 4 mg,100
NR024,"Nutmeg, seed, dried",100 g,: 518 Kal,: 7.5 g,: 36.4 g,: 40.1 g,: 3.5 g,: 2 mg,100
PR001,"Young coconut, water, fresh",100 g,NaN,NaN,NaN,NaN,NaN,NaN,100

In [ ]:
df_proc = df.copy()
for col in num_cols:
    df_proc[col] = df_proc[col].str.replace(',', '.')
    df_proc[col] = df_proc[col].str.extract(r'(\d+[,.]?\d?)').astype('float')
df_proc

,food_name,base_weight,Energi (Energy),Protein (Protein),Lemak (Fat),Karbohidrat (CHO),Serat (Fibre),Natrium (Na),portion_size
AP001,Rice,100 g,180.0,3.0,0.3,39.8,0.2,1.0,100
AP002,"Rice, steamed",100 g,120.0,2.4,0.4,26.0,0.5,0.0,100
AP003,"Rice, tapai",100 g,99.0,1.7,0.3,22.4,0.0,26.0,100
AP004,"Rice, flour, raw",100 g,353.0,7.0,0.5,80.0,2.4,5.0,100
AP005,Red rice,100 g,149.0,2.8,0.4,32.5,0.3,5.0,100
...,...,...,...,...,...,...,...,...,...
NR021,Kluwek,100 g,310.0,10.0,24.0,13.5,NaN,NaN,100
NR022,"Turmeric, fresh",100 g,69.0,2.0,2.7,9.1,0.6,6.0,100
NR023,"Pepper, dried",100 g,365.0,11.5,6.8,64.4,1.0,4.0,100
NR024,"Nutmeg, seed, dried",100 g,518.0,7.5,36.4,40.1,3.5,2.0,100
PR001,"Young coconut, water, fresh",100 g,NaN,NaN,NaN,NaN,NaN,NaN,100

In [ ]:
df_proc.columns = output_cols

In [ ]:
df_proc.to_csv("../id_food_item_options.csv")

## TH

In [20]:
with open("../th_food_item_options_raw_proc.csv", "w", encoding="utf-8") as fw:
    with open("../th_food_item_options_raw.csv", "r", encoding="utf-8") as fr:
        
        data = fr.readlines()
        data_proc = []
        idx = -2
        last_food_id = ''
        for row in data:
            food_id = row.split('|')[0]
            if food_id != last_food_id:
                idx += 1
                last_food_id = food_id
            data_proc.append(str(idx) + '|' + row)
            
    fw.writelines(data_proc)

In [96]:
df = pd.read_csv("../th_food_item_options_raw_proc.csv", encoding="utf8", delimiter="|")
df.columns = ['idx'] + list(df.columns[1:])
df['idx'] = df['idx'].astype(str) + df['food_id'].astype(str)

print(len(df['food_id'].drop_duplicates()))
print(df['attribute'].drop_duplicates().to_list())
df

1780
['thai_name', 'english_name', 'scientific_name', 'base_weight', 'Energy, by calculation', 'Moisture', 'Protein, total', 'Fat, total', 'Carbohydrate, available', 'Dietary fibre', 'Ash', 'Calcium', 'Phosphorus', 'Sodium', 'Iron', 'Thiamin', 'Riboflavin', 'Magnesium', 'Potassium', 'Copper', 'Zinc', 'Niacin', 'Fatty acids, total saturated', 'Fatty acids, total monounsaturated', 'Fatty acids, total polyunsaturated', 'Fatty acids, total omega-3 polyunsaturated', 'Fatty acids, total omega-6 polyunsaturated', 'Sugars, total', 'b-carotene', 'Selenium', 'Total energy - by calculation', 'Carbohydrate, total', 'Vitamin A; retinol activity equivalent', 'Vitamin C', 'Retinol', 'Density', 'Cholesterol', 'True protein', 'Edible portion', 'Alpha-tocopherol', 'Vitamin D (D2+D3)', 'Vitamin B-6, total', 'Folate, total', 'Vitamin B-12']

,idx,food_id,attribute,value1,value2
0,0A6,A6,thai_name,"ข้าวกล้อง, งอก, ดิบ",NaN
1,0A6,A6,english_name,"Rice, brown, germinated, raw",NaN
2,0A6,A6,scientific_name,Oryza sativa,NaN
3,0A6,A6,base_weight,Per 100 g,NaN
4,0A6,A6,"Energy, by calculation",365,kcal
...,...,...,...,...,...
32977,1781T272,T272,Ash,1.98,g
32978,1781T272,T272,Calcium,122,mg
32979,1781T272,T272,Sodium,333,mg
32980,1781T272,T272,Vitamin C,2,mg
32981,1781T272,T272,"Sugars, total",20.62,g

In [97]:
df = df.fillna('')
df['value'] = df['value1'].astype(str) + df['value2'].astype(str)
df = df[['idx', 'attribute', 'value']]

In [98]:
df = df.pivot(index='idx', columns='attribute', values='value')
df.columns.name = None
df.index.name = None

In [99]:
cols = ["english_name", "base_weight", "Energy, by calculation", "Total energy - by calculation", "Protein, total", "Fat, total", "Carbohydrate, available", "Carbohydrate, total", "Dietary fibre", "Sodium"]
df = df[cols]
num_cols = cols[2:]
num_cols

['Energy, by calculation',
 'Total energy - by calculation',
 'Protein, total',
 'Fat, total',
 'Carbohydrate, available',
 'Carbohydrate, total',
 'Dietary fibre',
 'Sodium']

In [100]:
df

,english_name,base_weight,"Energy, by calculation",Total energy - by calculation,"Protein, total","Fat, total","Carbohydrate, available","Carbohydrate, total",Dietary fibre,Sodium
0A6,"Rice, brown, germinated, raw",Per 100 g,365kcal,NaN,7.47g,3.03g,74.77g,NaN,4.5g,25mg
1000G88,"Short bodied mackerel, steamed, fried",Per 100 g,232kcal,NaN,27.50g,13.60g,0.10g,NaN,NaN,"1,018mg"
1001G213,"Short bodied mackerel, flesh, fried",Per 100 g,150kcal,NaN,25.45g,5.35g,NaN,NaN,NaN,705mg
1002G93,"Short-bodied mackerel, raw",Per 100 g,127kcal,NaN,21.24g,4.66g,NaN,NaN,NaN,99mg
1003G94,"Short bodied mackerel, boiled",Per 100 g,145kcal,NaN,23.13g,5.60g,0.47g,NaN,NaN,101mg
...,...,...,...,...,...,...,...,...,...,...
997G212,"Nile tilapia, red, steamed",Per 100 g,172kcal,NaN,22.68g,8.59g,1.04g,NaN,NaN,NaN
998G86,"Short bodied mackerel, steamed",Per 100 g,137kcal,NaN,24.45g,4.37g,NaN,NaN,NaN,816mg
999G87,"Short bodied mackerel, steamed, boiled",Per 100 g,120kcal,NaN,21.88g,2.70g,1.92g,NaN,NaN,568mg
99N38,"Cardamom, leaves",Per 100 g,NaN,373kcal,9.50g,6.30g,NaN,69.30g,NaN,NaN
9A12,"Rice, polished, Jasmine variety, raw",Per 100 g,357kcal,NaN,6.45g,0.71g,80.87g,NaN,0.7g,18mg

In [112]:
df_proc = df.copy()
for col in num_cols:
    df_proc[col] = df_proc[col].str.replace(',', '.')
    df_proc[col] = df_proc[col].str.extract(r'(\d+[,.]?\d?)').astype('float')
    df_proc[col] = df_proc[col].fillna(0)
df_proc

,english_name,base_weight,"Energy, by calculation",Total energy - by calculation,"Protein, total","Fat, total","Carbohydrate, available","Carbohydrate, total",Dietary fibre,Sodium
0A6,"Rice, brown, germinated, raw",Per 100 g,365.0,0.0,7.4,3.0,74.7,0.0,4.5,25.0
1000G88,"Short bodied mackerel, steamed, fried",Per 100 g,232.0,0.0,27.5,13.6,0.1,0.0,0.0,1.0
1001G213,"Short bodied mackerel, flesh, fried",Per 100 g,150.0,0.0,25.4,5.3,0.0,0.0,0.0,705.0
1002G93,"Short-bodied mackerel, raw",Per 100 g,127.0,0.0,21.2,4.6,0.0,0.0,0.0,99.0
1003G94,"Short bodied mackerel, boiled",Per 100 g,145.0,0.0,23.1,5.6,0.4,0.0,0.0,101.0
...,...,...,...,...,...,...,...,...,...,...
997G212,"Nile tilapia, red, steamed",Per 100 g,172.0,0.0,22.6,8.5,1.0,0.0,0.0,0.0
998G86,"Short bodied mackerel, steamed",Per 100 g,137.0,0.0,24.4,4.3,0.0,0.0,0.0,816.0
999G87,"Short bodied mackerel, steamed, boiled",Per 100 g,120.0,0.0,21.8,2.7,1.9,0.0,0.0,568.0
99N38,"Cardamom, leaves",Per 100 g,0.0,373.0,9.5,6.3,0.0,69.3,0.0,0.0
9A12,"Rice, polished, Jasmine variety, raw",Per 100 g,357.0,0.0,6.4,0.7,80.8,0.0,0.7,18.0

In [ ]:
# 'Energy, by calculation' + 'Total energy - by calculation'
# df[~df['Energy, by calculation'].isna() & ~df['Total energy - by calculation'].isna()]
# 'Carbohydrate, available' + 'Carbohydrate, total'
df[~df['Carbohydrate, available'].isna() & ~df['Carbohydrate, total'].isna()]

Empty DataFrame
Columns: [Alpha-tocopherol, Ash, Calcium, Carbohydrate, available, Carbohydrate, total, Cholesterol, Copper, Density, Dietary fibre, Edible portion, Energy, by calculation, Fat, total, Fatty acids, total monounsaturated, Fatty acids, total omega-3 polyunsaturated, Fatty acids, total omega-6 polyunsaturated, Fatty acids, total polyunsaturated, Fatty acids, total saturated, Folate, total, Iron, Magnesium, Moisture, Niacin, Phosphorus, Potassium, Protein, total, Retinol, Riboflavin, Selenium, Sodium, Sugars, total, Thiamin, Total energy - by calculation, True protein, Vitamin A; retinol activity equivalent, Vitamin B-12, Vitamin B-6, total, Vitamin C, Vitamin D (D2+D3), Zinc, b-carotene, base_weight, english_name, scientific_name, thai_name]
Index: []

[0 rows x 44 columns]

In [113]:
df_proc['energy'] = df_proc['Energy, by calculation'].astype(float) + df_proc['Total energy - by calculation'].astype(float)
df_proc['carbs'] = df_proc['Carbohydrate, available'].astype(float) + df_proc['Carbohydrate, total'].astype(float)
cols = ["english_name", "base_weight", "energy", "Protein, total", "Fat, total", "carbs", "Dietary fibre", "Sodium"]
df_proc = df_proc[cols]
df_proc['portion_size'] = 100
df_proc['region'] = 'TH'
df_proc

C:\Users\User\AppData\Local\Temp/ipykernel_10504/591171994.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_proc['portion_size'] = 100
C:\Users\User\AppData\Local\Temp/ipykernel_10504/591171994.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_proc['region'] = 'TH'

,english_name,base_weight,energy,"Protein, total","Fat, total",carbs,Dietary fibre,Sodium,portion_size,region
0A6,"Rice, brown, germinated, raw",Per 100 g,365.0,7.4,3.0,74.7,4.5,25.0,100,TH
1000G88,"Short bodied mackerel, steamed, fried",Per 100 g,232.0,27.5,13.6,0.1,0.0,1.0,100,TH
1001G213,"Short bodied mackerel, flesh, fried",Per 100 g,150.0,25.4,5.3,0.0,0.0,705.0,100,TH
1002G93,"Short-bodied mackerel, raw",Per 100 g,127.0,21.2,4.6,0.0,0.0,99.0,100,TH
1003G94,"Short bodied mackerel, boiled",Per 100 g,145.0,23.1,5.6,0.4,0.0,101.0,100,TH
...,...,...,...,...,...,...,...,...,...,...
997G212,"Nile tilapia, red, steamed",Per 100 g,172.0,22.6,8.5,1.0,0.0,0.0,100,TH
998G86,"Short bodied mackerel, steamed",Per 100 g,137.0,24.4,4.3,0.0,0.0,816.0,100,TH
999G87,"Short bodied mackerel, steamed, boiled",Per 100 g,120.0,21.8,2.7,1.9,0.0,568.0,100,TH
99N38,"Cardamom, leaves",Per 100 g,373.0,9.5,6.3,69.3,0.0,0.0,100,TH
9A12,"Rice, polished, Jasmine variety, raw",Per 100 g,357.0,6.4,0.7,80.8,0.7,18.0,100,TH

In [117]:
df_proc.columns = output_cols
df_proc

,label,portion_info,energy,protein,total_fat,carbs,fibre,sodium,portion_size,region
0A6,"Rice, brown, germinated, raw",Per 100 g,365.0,7.4,3.0,74.7,4.5,25.0,100,TH
1000G88,"Short bodied mackerel, steamed, fried",Per 100 g,232.0,27.5,13.6,0.1,0.0,1.0,100,TH
1001G213,"Short bodied mackerel, flesh, fried",Per 100 g,150.0,25.4,5.3,0.0,0.0,705.0,100,TH
1002G93,"Short-bodied mackerel, raw",Per 100 g,127.0,21.2,4.6,0.0,0.0,99.0,100,TH
1003G94,"Short bodied mackerel, boiled",Per 100 g,145.0,23.1,5.6,0.4,0.0,101.0,100,TH
...,...,...,...,...,...,...,...,...,...,...
997G212,"Nile tilapia, red, steamed",Per 100 g,172.0,22.6,8.5,1.0,0.0,0.0,100,TH
998G86,"Short bodied mackerel, steamed",Per 100 g,137.0,24.4,4.3,0.0,0.0,816.0,100,TH
999G87,"Short bodied mackerel, steamed, boiled",Per 100 g,120.0,21.8,2.7,1.9,0.0,568.0,100,TH
99N38,"Cardamom, leaves",Per 100 g,373.0,9.5,6.3,69.3,0.0,0.0,100,TH
9A12,"Rice, polished, Jasmine variety, raw",Per 100 g,357.0,6.4,0.7,80.8,0.7,18.0,100,TH

In [ ]:
df_proc.to_csv("../th_food_item_options.csv")

## PH

In [3]:
df_foodname = pd.read_csv("../ph_food_item_options_raw_foodlist.csv", encoding="utf8", delimiter="|")
df_foodname

,food_id,food_name,scientific_name,common_name,edible_portion
0,A001,"Corn grits, white",Zea mays,"Mais, durog, puti",100%
1,A002,"Corn grits, yellow",Zea mays,"Mais, durog, dilaw",100%
2,A003,"Corn on cob, white",Zea mays,"Mais sa busal, puti",30%
3,A004,"Corn on cob, yellow",Zea mays,"Mais sa busal, dilaw",39%
4,A005,"Corn on cob, yellow, boiled",Zea mays,"Mais sa busal, dilaw, nilaga",54%
...,...,...,...,...,...
1537,D304,Ginger,Zingiber officinale,Luya,74%
1538,D305,Turmeric,Curcuma longa L.,Luyang dilaw,71%
1539,H023,"Egg mass, sea hare",Dolabella auricularia,Lukot,100%
1540,Q062,"Tea, prep w/ water, no sugar",NaN,NaN,100%
1541,T012,Locust,Locusta migratoria manilensis,Balang,81%

In [13]:
df_foodname[['food_id', 'food_name']].drop_duplicates()['food_id'].value_counts().sort_values()

A001    1
A005    1
A006    1
A007    1
A008    1
       ..
Q062    1
T005    1
R095    1
Q004    1
T012    1
Name: food_id, Length: 1542, dtype: int64

In [40]:
df = pd.read_csv("../ph_food_item_options_raw_foodnutr.csv", encoding="utf8", delimiter="|")
df = df[~df[['food_id', 'attribute']].duplicated(keep=False)]  # remove duplicated error rows
print(len(df['food_id'].drop_duplicates()))
print(df['attribute'].drop_duplicates().to_list())
df

1548
['base', 'Water (g)', 'Energy, calculated (kcal)', 'Protein (g)', 'Total Fat (g)', 'Carbohydrate, total (g)', 'Ash, total (g)', 'Fiber, total dietary (g)', 'Sugars, total (g)', 'Calcium, Ca (mg)', 'Phosphorus, P (mg)', 'Iron, Fe (mg)', 'Sodium, Na (mg)', 'Retinol, Vitamin A (µg)', 'beta-Carotene (µg)', 'Retinol Activity Equivalent, RAE (µg)', 'Thiamin, Vitamin B1 (mg)', 'Riboflavin, Vitamin B2 (mg)', 'Niacin (mg)', 'Ascorbic Acid, Vitamin C (mg)', 'Fatty acids, saturated, total (g)', 'Fatty acids, monounsaturated, total (g)', 'Fatty acids, polyunsaturated, total(g)', 'Cholesterol (mg)', nan]

      food_id                                attribute                  value
0        A001                                     base  Amount per 100 g E.P.
1        A001                                Water (g)                   12.2
2        A001                Energy, calculated (kcal)                    357
3        A001                              Protein (g)                    8.3
4        A001                            Total Fat (g)                    1.5
...       ...                                      ...                    ...
37071    T012            Ascorbic Acid, Vitamin C (mg)                      0
37072    T012        Fatty acids, saturated, total (g)                      -
37073    T012  Fatty acids, monounsaturated, total (g)                      -
37074    T012   Fatty acids, polyunsaturated, total(g)                      -
37075    T012                         Cholesterol (mg)                      -

[37014 rows x 3 columns]

In [41]:
from IPython.display import display

display(df[df['attribute'] == 'base'][['attribute', 'value']].drop_duplicates())
df = df[df['attribute'] != 'base']
df

  attribute                  value
0      base  Amount per 100 g E.P.

      food_id                                attribute value
1        A001                                Water (g)  12.2
2        A001                Energy, calculated (kcal)   357
3        A001                              Protein (g)   8.3
4        A001                            Total Fat (g)   1.5
5        A001                  Carbohydrate, total (g)  77.5
...       ...                                      ...   ...
37071    T012            Ascorbic Acid, Vitamin C (mg)     0
37072    T012        Fatty acids, saturated, total (g)     -
37073    T012  Fatty acids, monounsaturated, total (g)     -
37074    T012   Fatty acids, polyunsaturated, total(g)     -
37075    T012                         Cholesterol (mg)     -

[35472 rows x 3 columns]

In [43]:
cols = ["Energy, calculated (kcal)", 'Protein (g)', 'Total Fat (g)', 'Carbohydrate, total (g)', 'Fiber, total dietary (g)', 'Sodium, Na (mg)']
df = df.pivot(index='food_id', columns='attribute', values='value')
df.columns.name = None
df.index.name = None

In [44]:
df = df[cols].dropna(subset=['Energy, calculated (kcal)'])
df

,"Energy, calculated (kcal)",Protein (g),Total Fat (g),"Carbohydrate, total (g)","Fiber, total dietary (g)","Sodium, Na (mg)"
A001,357,8.3,1.5,77.5,4.5,1
A002,350,7.7,0.8,78.1,1.6,1
A003,148,4.4,0.8,30.9,4.1,23
A004,173,4.4,1.5,35.4,3.5,3
A005,167,3.3,1.2,35.7,3.7,1
...,...,...,...,...,...,...
T006,351,53.3,4.9,23.4,12.4,0
T007,351,85.4,1.0,0.0,0.0,197
T008,6,0.1,0.2,1.0,0.0,0
T009,363,37.2,1.3,50.5,26.6,50
T012,147,13.7,4.3,13.4,-,-

In [52]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [Energy, calculated (kcal), Protein (g), Total Fat (g), Carbohydrate, total (g), Fiber, total dietary (g), Sodium, Na (mg)]
Index: []

In [54]:
df = df_foodname[['food_id', 'food_name']].set_index('food_id').merge(df, how='outer', left_index=True, right_index=True)
df

,food_name,"Energy, calculated (kcal)",Protein (g),Total Fat (g),"Carbohydrate, total (g)","Fiber, total dietary (g)","Sodium, Na (mg)"
A001,"Corn grits, white",357,8.3,1.5,77.5,4.5,1
A002,"Corn grits, yellow",350,7.7,0.8,78.1,1.6,1
A003,"Corn on cob, white",148,4.4,0.8,30.9,4.1,23
A004,"Corn on cob, yellow",173,4.4,1.5,35.4,3.5,3
A005,"Corn on cob, yellow, boiled",167,3.3,1.2,35.7,3.7,1
...,...,...,...,...,...,...,...
T006,Chlorella,351,53.3,4.9,23.4,12.4,0
T007,Gelatin powder,351,85.4,1.0,0.0,0.0,197
T008,Rice washing,6,0.1,0.2,1.0,0.0,0
T009,"Yeast, baker's, active, dry",363,37.2,1.3,50.5,26.6,50
T012,Locust,147,13.7,4.3,13.4,-,-

In [58]:
df['portion_info'] = 'Per 100 g'
df['portion_size'] = 100

In [61]:
df['region'] = 'PH'

In [65]:
df = df[['food_name', 'portion_info', 'Energy, calculated (kcal)', 'Protein (g)',
       'Total Fat (g)', 'Carbohydrate, total (g)', 'Fiber, total dietary (g)',
       'Sodium, Na (mg)', 'portion_size', 'region']]
df

,food_name,portion_info,"Energy, calculated (kcal)",Protein (g),Total Fat (g),"Carbohydrate, total (g)","Fiber, total dietary (g)","Sodium, Na (mg)",portion_size,region
A001,"Corn grits, white",Per 100 g,357,8.3,1.5,77.5,4.5,1,100,PH
A002,"Corn grits, yellow",Per 100 g,350,7.7,0.8,78.1,1.6,1,100,PH
A003,"Corn on cob, white",Per 100 g,148,4.4,0.8,30.9,4.1,23,100,PH
A004,"Corn on cob, yellow",Per 100 g,173,4.4,1.5,35.4,3.5,3,100,PH
A005,"Corn on cob, yellow, boiled",Per 100 g,167,3.3,1.2,35.7,3.7,1,100,PH
...,...,...,...,...,...,...,...,...,...,...
T006,Chlorella,Per 100 g,351,53.3,4.9,23.4,12.4,0,100,PH
T007,Gelatin powder,Per 100 g,351,85.4,1.0,0.0,0.0,197,100,PH
T008,Rice washing,Per 100 g,6,0.1,0.2,1.0,0.0,0,100,PH
T009,"Yeast, baker's, active, dry",Per 100 g,363,37.2,1.3,50.5,26.6,50,100,PH
T012,Locust,Per 100 g,147,13.7,4.3,13.4,-,-,100,PH

In [66]:
df.columns = output_cols
df

,label,portion_info,energy,protein,total_fat,carbs,fibre,sodium,portion_size,region
A001,"Corn grits, white",Per 100 g,357,8.3,1.5,77.5,4.5,1,100,PH
A002,"Corn grits, yellow",Per 100 g,350,7.7,0.8,78.1,1.6,1,100,PH
A003,"Corn on cob, white",Per 100 g,148,4.4,0.8,30.9,4.1,23,100,PH
A004,"Corn on cob, yellow",Per 100 g,173,4.4,1.5,35.4,3.5,3,100,PH
A005,"Corn on cob, yellow, boiled",Per 100 g,167,3.3,1.2,35.7,3.7,1,100,PH
...,...,...,...,...,...,...,...,...,...,...
T006,Chlorella,Per 100 g,351,53.3,4.9,23.4,12.4,0,100,PH
T007,Gelatin powder,Per 100 g,351,85.4,1.0,0.0,0.0,197,100,PH
T008,Rice washing,Per 100 g,6,0.1,0.2,1.0,0.0,0,100,PH
T009,"Yeast, baker's, active, dry",Per 100 g,363,37.2,1.3,50.5,26.6,50,100,PH
T012,Locust,Per 100 g,147,13.7,4.3,13.4,-,-,100,PH

In [67]:
df.to_csv("../ph_food_item_options.csv")

# Touch Up

In [23]:
import pandas as pd

In [26]:
filename = '../food_item_options.csv'
df = pd.read_csv(filename, index_col = 0)
df = df.fillna(0)

In [27]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [label, portion_info, energy, protein, total_fat, carbs, fibre, sodium, portion_size, region]
Index: []

In [30]:
df.loc[4027:4028, :]

,label,portion_info,energy,protein,total_fat,carbs,fibre,sodium,portion_size,region
4027,Amparan tatak,100 g,191.0,1.3,5.5,34.0,0,0,100.0,ID
4028,"Apang, steamed, kue",100 g,202.0,3.0,0.3,46.7,0,0,100.0,ID

In [29]:
df.to_csv(filename)